################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/out
/backups
/w.py
/tests
/releases
/.idea
/library.json
/files_keep.json